# WebSocket Server URL
VITE_SOCKET_URL=http://localhost:3001

# REST API URL for saving/loading experiments
VITE_API_URL=http://localhost:3001

# Backend MongoDB connection string
MONGODB_URI=mongodb://127.0.0.1:27017/virtual-lab
